<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryCatalog"
        tools:targetApi="31">
        <provider
            android:name=".BookClass"
            android:authorities="com.example.LibraryCatalog.BookClass"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".ComicActivity"
            android:exported="false" />
        <activity
            android:name=".NovelsActivity"
            android:exported="false" />
        <activity
            android:name=".ChildrenActivity"
            android:exported="false" />
        <activity
            android:name=".PoetryActivity"
            android:exported="false" />
        <activity
            android:name=".EducationActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>